<mat-grid-list cols="4">
  <mat-grid-tile *ngFor="let sport of sports">
    <mat-card class="sportCard" (click)="onCardClick(sport.id)">
      <mat-card-title>{{sport.name}}</mat-card-title>
      <img mat-card-image src="{{sport.name | getimagepath}}">
      <mat-card-actions>
        <button #btn class="btn btn-primary" (click)="toggleSubscription(sport, $event, btn)">{{getInitialSubscribableLabel(sport)}}</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
